__pycache__/
*.pyc
*.log
*.zip
*.ply
*.stl
*.csv
*_check_points/
desktop.ini
Thumbs.db

!Data/**/*.ply
!Data/**/*.csv

*.pt
!femur/checkpoints/best_asd.pt
!tibia/checkpoints/ep800.pt

norm_stats.json
!femur/checkpoints/norm_stats.json
!tibia/checkpoints/norm_stats.json

femur/checkpoints/*.pt

tibia/checkpoints/*.pt
